body{
    background-color:#FFFFFF
}
/*google search and I'm feeling lucky */
.h{
    width: 110px;
    background: #EEEEEE;
    border-radius: 3px;
    border-width: 1px;
}
/*arama kutusu biçim*/
.e{
    width:300px ;
}
/*subscribe */
.f{
    width: 75px;
    background: #EEEEEE;
    border-width: 1px;
    border-radius: 3px
}
